/* Extra Small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  /* Menu Start */
  .mymenu ul li a {
    padding: 0 !important;
    margin-bottom: 15px;
    text-align: center;
  }
  .search-form {
    margin: 0 auto;
    min-width: 300px;
  }
  .search-form[data-bs-popper] {
    top: 0;
    left: 0;
  }
  /* Menu End */

  /* Slider Start */
  .single-item {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
  .single-item h2{
    font-size: 27px;
  }
  .single-item p{
    margin: 30px 0;
  }
  .btn-common {
    padding: 8px 15px;
  }
  .carousel-btn {
    text-align: center;
  }
  /* Slider End */

  /* Welcome Start */
  .welcome-title {
    margin-top: 20px;
  }
  .welcome-title h1 {
    font-size: 27px;
  }
  .welcome-text p {
    line-height: 25px;
  }
  .single-service {
    margin-top: 60px;
  }
  /* Welcome End */

  /* About Start */
  .about {
    padding-bottom: 60px;
    text-align: center;
  }
  .about-img {
    margin-bottom: 30px;
  }
  .about-text1, .about-text2 {
    margin-top: 30px;
  }
  /* About End */

  /* Recent Work Start */
  .recent-work {
    padding-bottom: 50px;
  }
  .btn-group {
    margin-top: 50px;
  }
  /* Recent Work End */

  /* Team start */
  .team {
    padding-bottom: 50px;
  }
  .team-title h1 {
    font-size: 25px;
  }
  .single-team {
    margin-top: 50px;
  }
  /* Team End */

  /* choose start */
  .choose {
    padding-bottom: 50px;
  }
  .choose-item {
    margin-top: 40px;
  }
  .choose-title h1 {
    font-size: 27px;
  }
  .choose-item {
    text-align: center;
  }
  .choose-details {
    margin: 15px 0;
    line-height: 25px;
  }
  /* choose end */

  /* Best Pricing Start */
  .price {
    padding-bottom: 50px;
  }
  .price-title {
    margin-top: 50px;
  }
  .price-item {
    margin-top: 50px;
  }
  /* Best Pricing End */

  /* Call to Action Start */
  .cta {
    padding-bottom: 50px;
  }
  .cta-content {
    text-align: center;
  }
  .cta-h3 {
    font-size: 16px;
  }
  .cta-btn {
    margin-top: 20px;
    text-align: center;
  }
  /* Call to Action Start */

  /* Testimonial Start */
  .tc-h2 {
    margin-top: 10px;
    font-size: 25px;
  }
  .tc-designation {
    margin: 10px 0;
  }
  .tc-company {
    margin-bottom: 20px;
  }
  .tc-content1, .tc-content2 {
    line-height: 25px;
  }
  .tc-content2 {
    margin-bottom: 0;
  }
  .testimonial-btn {
    margin-top: 20px;
    padding: 15px 0;
    writing-mode: unset;
  }
  .t-prev-btn {
    padding-bottom: 0;
  }
  .t-next-btn {
    padding-top: 0;
  }
  /* Testimonial End */

  /* Contact Start */
  .contact {
    padding-bottom: 60px;
  }
  .contact-title {
    padding: 5px 10px;
  }
  .ct-h1 {
    font-size: 20px;
  }
  .contact-form {
    padding: 30px;
    margin-top: 25px;
  }
  .contact-input {
    margin-bottom: 30px;
  }
  .submit {
    margin-bottom: 10px;
  }
  /* Contact End */

  /* Footer Start */
  .footer-social li a i {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .bottom-menu {
      margin-top: 20px;
  }
  .bottom-menu ul li {
      display: block;
      padding: 5px 0;
  }
  /* Footer End */

}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Menu Start */
  .mymenu ul li a {
    padding: 0 !important;
    margin-bottom: 15px;
    text-align: center;
  }
  .search-form {
    margin: 0 auto;
  }
  .search-form[data-bs-popper] {
    top: 0;
    left: 0;
  }
  /* Menu End */

  /* Slider Start */
  .single-item {
    margin-top: 80px;
    margin-bottom: 80px
  }
  .single-item h2{
    font-size: 40px;
  }
  .single-item p{
    margin: 30px 0;
  }
  .btn-common {
    padding: 8px 15px;
  }
  /* Slider End */

  /* Welcome Start */
  .welcome-title {
    margin-top: 20px;
  }
  .welcome-text p {
    line-height: 25px;
  }
  .single-service {
    margin-top: 80px;
  }
  /* Welcome End */

  /* About Start */
  .about {
    padding-bottom: 70px;
    text-align: center;
  }
  .about-img {
    margin-bottom: 30px;
  }
  /* About End */

  /* Recent Work Start */
  .recent-work {
    padding-bottom: 60px;
  }
  .btn-group {
    margin-top: 60px;
  }
  /* Recent Work End */

  /* choose start */
  .choose {
    padding-bottom: 60px;
  }
  .choose-item {
    margin-top: 50px;
  }
  .choose-icon i {
    font-size: 48px;
  }
  /* choose end */

  /* Best Pricing Start */
  .price {
    padding-bottom: 60px;
  }
  .price-title {
    margin-top: 50px;
  }
  .price-item {
    margin-top: 50px;
  }
  /* Best Pricing End */

  /* Call to Action Start */
  .cta {
    padding-bottom: 60px;
  }
  .cta-content {
    text-align: center;
  }
  .cta-btn {
    margin-top: 30px;
    text-align: center;
  }
  .call-btn {
    width: 40%;
  }
  /* Call to Action Start */

  /* Testimonial Start */
  .tc-h2 {
    margin-top: 15px;
  }
  .testimonial-btn {
    margin-top: 20px;
    padding: 15px 0;
    writing-mode: unset;
  }
  .t-prev-btn {
    padding-bottom: 0;
  }
  .t-next-btn {
    padding-top: 0;
  }
  /* Testimonial End */

  /* Contact Start */
  .contact-form {
    padding: 50px;
  }
  .submit {
    margin-bottom: 10px;
  }
  /* Contact End */

  /* Footer Start */
  .bottom-menu {
    margin-top: 20px;
  }
  .bottom-menu ul li {
    display: block;
    padding: 5px 0;
  }
  /* Footer End */

}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Menu Start */
  .mymenu ul li a {
    padding: 0 !important;
    margin-bottom: 15px;
  }
  .search-form[data-bs-popper] {
    top: 0;
    left: 0;
}
  /* Menu End */

  /* Slider Start */
  .single-item {
  margin-top: 100px;
  margin-bottom: 100px
  }
  .single-item h2{
    font-size: 45px;
  }
  .single-item p{
  margin: 35px 0;
  line-height: 25px;
  }
  .btn-common {
    padding: 10px 15px;
  }
  /* Slider End */

  /* About Start */
  .about {
    padding-bottom: 80px;
    text-align: center;
  }
  .about-img {
    margin-bottom: 30px;
  }
  /* About End */

  /* Recent Work Start */
  .recent-work {
    padding-bottom: 80px;
  }
  .btn-group {
    margin-top:80px;
  }
  /* Recent Work End */

  /* choose start */
  .choose {
    padding-bottom: 80px;
  }
  .choose-item {
    margin-top: 50px;
  }
  .choose-icon i {
    font-size: 48px;
  }
  .choose-title {
    margin-left: 10px;
  }
  /* choose end */

  /* Best Pricing Start */
  .price {
    padding-bottom: 80px;
  }
  .price-item {
    margin-top: 80px;
  }
  /* Best Pricing End */

  /* Call to Action Start */
  .cta {
    padding-bottom: 80px;
  }
  /* Call to Action end */

  /* Testimonial Start */
  .testimonial-btn {
    margin-top: 20px;
    padding: 15px 0;
    writing-mode: unset;
  }
  .t-prev-btn {
    padding-bottom: 0;
  }
  .t-next-btn {
    padding-top: 0;
  }
  /* Testimonial End */
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Slider Start */
  .single-item {
    margin-top: 150px;
    margin-bottom: 150px
  }
  .single-item h2 {
    font-size: 50px;
  }
  .btn-common {
    padding: 10px 20px;
  }
  /* Slider End */

  /* About Start */
  .about-text1, .about-text2 {
    margin-top: 20px;
  }
  .btn-border {
    margin-top: 20px;
  }
  /* About End */

  /* Choose Start */
  .choose-icon i{
    font-size: 48px;
  }
  /* Choose End */

  /* Testimonial Start */
  .testimonial-btn {
    padding: 61px 20px;
  }
  /* Testimonial End */

}


/* Extra Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) and (max-width: 1399.98px) {

}


/* Extra Extra Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
  /* Slider Start */
  .single-item p{
    font-size: 18px;
  }
  /* Slider End */

  /* Welcome Start */
  .welcome-text p {
    font-size: 18px;
  }
  /* Welcome End */

  /* About Start */
  .about-text1, .about-text2 {
    font-size: 18px;
  }
  /* About End */

  /* Testimonial Start */
  .testimonial-btn {
    padding: 105px 20px;
  }
  /* Testimonial End */

}