/* Global Variables */
:root{
  --roboto : "Roboto", sans-serif;
  --lato : "Lato", sans-serif;
  --primary: #333333;
  --secondary : #8E8E8E;
  --white: #FFFFFF;
}

/* Common CSS Start */

  body {
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary);
  }
  .vertical-line {
    margin: 0 auto 15px;
    width: 2px;
    height: 50px;
    background-color: var(--primary);
  }
  .common-title h1 {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 30px;
    color: var(--primary);
    text-transform: uppercase;
  }

/* Common CSS End */

/* Header Start */

header {background-color:var(--white);}
.mylogo {}
.mobile-menu {
  margin-top: 40px !important;
  border: none;
  /* border: 1px solid var(--primary) !important; */
}
.mobile-menu:focus {
  box-shadow: 0 0 0 1px var(--primary);
}
.mobile-menu-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2851, 51, 51, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.mymenu {}
.mymenu ul li a {
  color: var(--secondary);
  font-family: var(--lato);
  padding: 0 20px !important;
  text-transform: uppercase;
  transition: 0.6s linear;
}
.mymenu ul li a:hover, .mymenu ul li a:focus {
  color: var(--primary);
}
.mymenu ul li .active {
  color: var(--primary);
}
.search::after {
    display: none;
}
.search-form {
  min-width: 400px;
  padding: 10px 10px;
  border: 1px solid var(--primary);
  border-radius: 0;
}
.search-form[data-bs-popper] {
    top: 30px;
    left: -360px;
}
.search-input {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary);
  text-transform: uppercase;
  border: 1px solid var(--secondary);
  border-radius: 0;
}
.search-input:focus {
  box-shadow: none;
  border-color: 1px solid var(--primary);
}
/* Header End */

/* Slider Start */
.slider {
  background-image: url(../images/slider.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#carousel-slider {}
.single-item {
  margin-top: 200px;
	margin-bottom: 200px
}
.single-item h2{
	font-family: var(--lato);
	font-size: 55px;
	font-weight: 700;
	color: var(--white);
}
.single-item p{
	margin: 50px 0;
	color: var(--white);
	line-height: 30px;
}
.btn-common {
	padding: 10px 25px;
  font-weight: 500;
  color: var(--primary);
  text-transform: uppercase;
  background-color: var(--white);
  border-radius: 0;
  transition: 1s linear;
}
.btn-common:focus {
  box-shadow: none;
}
.btn-common span i{
	margin-left: 15px;
}
.btn-common:hover{
	 color: var(--white) !important;
	 background-color: var(--primary) !important;
}
.custom-btn{
	background-color: transparent;
	border: none;
	color: var(--secondary);
	line-height: 30px;
	text-transform: uppercase;
}
.custom-btn:hover{
	color: var(--primary);
}
.custom-span {
    font-size: 20px;
    color: var(--primary);
}
/* Slider End */

/* Welcome Start */
  .welcome {
    padding-bottom: 100px;
  }
  .welcome-title {}
  .welcome-text p {
    margin-top: 30px;
    line-height: 30px;
  }
  .single-service {
    margin-top: 100px;
    padding: 70px 15px 35px;
    border: 1px solid var(--secondary);
    transition: transform 400ms;
  }
  .single-service:hover {
    border: 1px solid var(--primary);
    transform: translateY(-10px);
  }
  .s-icon {
    text-align: center;
    margin: -92px auto 0;
    width: 70px;
    background-color: var(--white);
  }
  .s-icon i {
    font-size: 60px;
  }
  .single-service:hover .s-icon i {
    color: var(--primary);
  }
  .ss-h2 {
    margin: 35px 0 0;
    font-family: var(--lato);
    font-size: 18px ;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
  }
  hr {
    margin: 15px auto;
    width: 15%;
  }
  .ss-p {
    margin-bottom: 30px;
    line-height: 27px;
  }
  .single-service a {
    display: block;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary);
  }
  .single-service:hover a {
    color: var(--primary);
  }
  .single-service a i {
    margin-left: 15px;
  }

/* Welcome End  */

/* About Start */
.about {
  padding-bottom: 100px;
}
.about-img {}
.about-img img {}
.about-details {}
.about-title {
  font-family: var(--lato);
  font-size: 30px;
  color: var(--primary);
  text-transform: uppercase;
}
.about-text1, .about-text2 {
  margin-top: 40px;
  text-align: justify;
  line-height: 27px;
}
.btn-border {
  margin-top: 30px;
  border: 1px solid var(--primary);
}
/* About End */

/* Recent Work Start */
.recent-work {
  padding-bottom: 100px;
}
.rw-title {}
.btn-group {
  margin-top:100px;
}
.project-btn {
  font-size: 16px;
  font-family: var(--roboto);
  font-weight: 400;
  background-color: var(--white);
  color: var(--secondary);
  padding: 10px 15px;
  text-transform: uppercase;
  outline: none;
  border: 0;
}
.project-btn:hover {
  font-weight: 500;
  color: var(--primary);
  border: 1px solid var(--primary);
}
.active-filter-btn {
  font-weight: 500;
  color: var(--primary);
  border: 1px solid var(--primary);
}
.project-list {
  margin-top: 50px;

}
.project-item {
  position: relative;
  cursor: pointer;
}
.project-item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition:all .5s ease 0s;
}
.project-item:hover::after {
  opacity: 1;
}
.project-item img {
  width: 350px;
  height: 377px;
}
.project-icon {
  list-style: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  transition: .33s ease 0s;
}
.project-icon a {
  text-decoration: none;
}
.project-icon a i {
  font-size: 60px;
  color: var(--white);
}
.project-item:hover .project-icon {
  opacity: 1;
}
.project-overlay {
  position: absolute;
  width:100%;
  left:0;
  bottom: 85px;
  background:rgba(255, 255, 255,1);
  z-index:1;
  opacity: 0;
  transition: .33s ease-out 0s;
}
.project-title {
  margin: 20px 0 20px 30px;
  font-family: var(--lato);
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
}
.project-category {
  margin-left: 30px;
  text-transform: capitalize;
  line-height: 27px;
}
.project-item:hover .project-overlay {
  bottom: 0;
  opacity: 1;
}

/* Recent Wok End */

/* Choose Nipro Start */
.choose {
  padding-bottom: 100px;
}
.choose-item {
  margin-top: 70px;
  border-bottom: 1px solid var(--secondary);
  transition: .33s;
}

.choose-item:hover{
  border-bottom: 1px solid var(--primary);
}
.choose-icon{}
.choose-icon i{
  font-size: 60px;
}
.choose-item:hover .choose-icon i{
  color: var(--primary);
}
.choose-title {
  margin: 10px 0 0 10px;
  font-family: var(--lato);
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary);
  line-height: 30px;
  text-transform: uppercase;
}
.choose-item:hover .choose-title{
  color: var(--primary);
}
.choose-details {
  margin: 30px 0;
  line-height: 27px;
}
/* Choose Nipro End */

/* Team Start */
.team {
  padding-bottom: 150px;
  background-image: url(../images/team-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team-title {}
.single-team {
  margin-top: 100px;
  cursor: pointer;
}
.team-content {
  position: relative;
}
.team-content img {
  width: 255px;
  height: 260px;
}
.team-social {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  background-color: var(--white);
  opacity: 0;
  transition: .33s ease 0s;
}
.single-team:hover .team-social {
  opacity: 1;
}
.team-social a {
  display: block;
  text-align: center;
  padding: 10px;
  color: var(--primary)
}
.team-social a:hover {
background-color: rgba(0, 0, 0, 0.2);
border-right: 1px solid var(--primary);
}
.team-social a i {
  font-size: 20px;
}
.team-info {
  position: absolute;
  width:100%;
  left:0;
  bottom: 0px;
  background:rgba(255, 255, 255,1);
  z-index:1;
  opacity: 0;
  transition: .33s ease-out 0s;
}
.member-name {
  margin: 20px 0 10px 30px;
  font-family: var(--lato);
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
}
.member-designation {
  margin-left: 30px;
  text-transform: capitalize;
}
.single-team:hover .team-info {
  bottom: -66px;
  opacity: 1;
}
/* Team End */

/* Best Pricing Start */
.price {
  padding-bottom: 100px;
}
.price-title {}
.price-item {
  position: relative;
  margin-top: 100px;
  padding: 30px;
  border: 1px solid var(--secondary);
  transition: transform 400ms;
}
.price-item:hover {
  border: 1px solid var(--primary);
  transform: translateY(-10px);
}
.plan-title {
  position: absolute;
  top: -20px;
  left: 25px;
  background-color: var(--white);
  padding: 10px 5px;

}
.pt-h4 {
  margin-bottom: 50px;
  font-family: var(--lato);
  font-weight: 700;
  font-size: 18px;
  color: var(--primary);
  text-transform: uppercase;
}
.plan-details {
  margin: 30px 0 10px;
}
.pd-h3 {
  margin-bottom: 30px;
  font-size: 36px;
  color: var(--primary);
}
.pd-h3 span {
  margin: 50px 0 30px 10px;
  font-size: 18px;
  color: var(--secondary);
  text-transform: capitalize;
}
.plan-details ul li {
  margin-bottom: 15px;
  text-transform: capitalize;
}
.plan-details ul li span {
  margin-right: 10px;
}
.price-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px 25px;
  font-weight: 500;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 0;
  text-transform: uppercase;
}
.price-btn:focus {
  box-shadow: none;
}
.price-item:hover .price-btn {
  background-color: transparent;
  border: 1px solid var(--primary);
}
.price-btn span i {
  margin-left: 15px;
}
/* Best Pricing Start */

/* Call to Action Start */
.cta {
  padding-bottom: 100px;
}
.cta-content {}
.cta-h3 {
  font-family: var(--lato);
	font-size: 18px;
	font-weight: 400;
	color: var(--primary);
	text-transform: uppercase;
}
.cta-h3 span {
  margin: 0 5px;
}
.cta-btn {
  text-align: right;
}
.call-btn {
  border: 1px solid var(--primary);
}
.call-btn:focus {
  box-shadow: none;
}
/* Call to Action Start */

/* Testimonial Start */
.testimonial {
  padding-bottom: 100px;
}
.testimonial-single {
  padding: 40px 30px;
  border: 1px solid var(--secondary);
}
.testimonial-img {}
.testimonial-icon {
  position: absolute;
  top: 15px;
  left: 30px;
}
.testimonial-icon i {
  font-size: 30px;
  color: var(--primary);
}
.testimonial-content {}
.tc-h2 {
  font-family: var(--lato);
  font-weight: 700;
  font-size: 30px;
  color: var(--primary);
  text-transform: uppercase;
}
.tc-designation {
  margin: 15px 0;
  font-weight: 18px;
  text-transform: capitalize;
}
.tc-company {
  margin-bottom: 30px;
  color: var(--primary);
  font-size: 18px;
  text-transform: capitalize;
}
.tc-content1, .tc-content2 {
  line-height: 27px;
}
.testimonial-btn {
  padding: 72px 20px;
  width: 100%;
  border: 1px solid var(--secondary);
  writing-mode: vertical-rl;
  display: inline-flex;
}
.t-prev-btn, .t-next-btn {
  padding-block: 0;
  padding-inline: 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.t-prev-btn {
  margin: 0 auto;
  padding-bottom: 95px;
}
.t-next-btn {
  margin: 0 auto;
  padding-top: 95px;
}
/* Testimonial End */

/* Contact Start */
.contact {
  padding-bottom: 100px;
}
.contact-content {
  position: relative;
  border: 1px solid var(--secondary);
}
.contact-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 10px 25px;
}
.ct-h1 {
  font-family: var(--lato);
  font-size: 30px;
  text-transform: uppercase;
}
.contact-form {
  padding-top: 100px;
}
.contact-input {
  border-radius: 0;
  border: 0;
  border-right: 0;
  border-bottom: 1px solid var(--secondary);
  border-left: 0;
  margin-bottom: 50px;
}
.contact-input:hover::placeholder {
  color: var(--primary);
}
.contact-input:focus {
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid var(--primary);
}
.submit {
  margin-bottom: 50px;
}
.submit-btn {
  border: 1px solid var(--primary);
}
/* Contact End */

/* Footer Start */
footer {
  padding-bottom: 30px;
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-top {}
.footer-title {}
.footer-text {}
.footer-p {
  margin: 30px 0;
  color: var(--white);
  text-align: center;
}
.footer-social {
 display: inline;
}
.footer-social ul {
  
  text-align: center;
}
.footer-social ul li a {
  text-decoration: none;
}
.footer-social li a i {
  margin-bottom: 80px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
	font-size: 30px;
	color: var(--white);
	border: 1px solid var(--white);
	transition: 1s;
}
.footer-social li a i:hover {
  color: var(--primary);
  background-color: var(--white);
}
.hr {
  width: 100%;
  color: var(--white);
}
.footer-bottom {
  margin-top: 30px;
  text-align: center;
}
.bottom-text {}
.bt-p {
  color: var(--white);
  text-transform: capitalize;
}
.bt-p a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}
.bt-p a:hover, .bottom-menu a:hover {
  color: orangered;
}
.bottom-menu {}
.bottom-menu ul li {
  display: inline;
}
.bottom-menu ul li a {
  margin: 0 10px;
  color: var(--white);
  text-decoration: none;
  text-transform: capitalize;
}